<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="samples" name="Sample Projects" schema="schema/samples.exsd"/>
   <extension-point id="tutorials" name="Tutorials" schema="schema/tutorials.exsd"/>
   <extension-point id="descriptors" name="Sample and Tutorial Descriptors" schema="schema/descriptors.exsd"/>

	<extension
			id="com.springsource.sts.ide.help.helpDocs"
			name="SpringSource Tool Suite"
			point="org.eclipse.help.toc">
		<toc
			file="doc/toc.xml"
         	primary="true">
      	</toc>
   	</extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="com.springsource.sts.ide.help.actionSet"
          label="SpringSource Tool Suite Help"
          visible="true">
       <action
             class="com.springsource.sts.internal.ide.help.tutorial.OpenTutorialSelectionDialogAction"
             id="com.springsource.sts.ide.help.action1"
             label="&amp;Task-Focused Tutorials..."
             menubarPath="help/group.tutorials">
       </action>
    </actionSet>
 </extension>
   
 <extension
       point="org.eclipse.ui.cheatsheets.cheatSheetItemExtension">
    <itemExtension
          class="com.springsource.sts.internal.ide.help.cheatsheet.CheatsheetUrlExtension"
          itemAttribute="url">
    </itemExtension>
    <itemExtension
          class="com.springsource.sts.internal.ide.help.cheatsheet.CheatsheetOnActiviationExtension"
          itemAttribute="onActivation">
    </itemExtension>
 </extension>
   
   
	<extension
			point="org.eclipse.ui.commands">
		<category
				id="com.springsource.sts.ide.help.commands.category"
				name="SpringSource Tool Suite">
      	</category>
       <command
             categoryId="com.springsource.sts.ide.help.commands.category"
             defaultHandler="com.springsource.sts.internal.ide.help.commands.PasteFileHandler"
             description="Pastes the contents of a file into the current editor "
             id="com.springsource.sts.ide.help.PasteFile"
             name="Paste File">
          <commandParameter
                id="fileName"
                name="File name"
                optional="false">
          </commandParameter>
       </command>
       <command
             categoryId="com.springsource.sts.ide.help.commands.category"
             defaultHandler="com.springsource.sts.internal.ide.help.commands.SetupTutorialHandler"
             description="Executes the workspace setup for the active tutorial"
             id="com.springsource.sts.ide.help.command.SetupTutorial"
             name="Setup Tutorial">
       </command>
       <command
             categoryId="com.springsource.sts.ide.help.commands.category"
             defaultHandler="com.springsource.sts.internal.ide.help.commands.TearDownTutorialHandler"
             description="Executes the workspace cleanup for the active tutorial"
             id="com.springsource.sts.ide.help.command.TearDownTutorial"
             name="Tear Down Tutorial">
       </command>
       <command
             categoryId="com.springsource.sts.ide.help.commands.category"
             defaultHandler="com.springsource.sts.internal.ide.help.commands.RunInTomcatHandler"
             description="Runs an application of the active tutorial in Tomcat"
             id="com.springsource.sts.ide.help.command.RunInTomcat"
             name="Run In Tomcat">
          <commandParameter
                id="url"
                name="URL"
                optional="true">
          </commandParameter>
          <commandParameter
                id="projectName"
                name="Project Name"
                optional="false">
          </commandParameter>
       </command>
       <command
             categoryId="com.springsource.sts.ide.help.commands.category"
             defaultHandler="com.springsource.sts.internal.ide.help.commands.RunInDmServerHandler"
             description="Runs an application of the active tutorial in Spring dm Server"
             id="com.springsource.sts.ide.help.command.RunInDmServer"
             name="Run In Spring dm Server">
          <commandParameter
                id="url"
                name="URL"
                optional="true">
          </commandParameter>
          <commandParameter
                id="projectName"
                name="Project Name"
                optional="false">
          </commandParameter>
       </command>
       <command
             categoryId="com.springsource.sts.ide.help.commands.category"
             defaultHandler="com.springsource.sts.internal.ide.help.commands.RunLaunchConfigurationHandler"
             description="Runs a launch configuration from a file in the workspace"
             id="com.springsource.sts.ide.help.RunLaunchConfiguration"
             name="Run Launch Configuration">
          <commandParameter
                id="fileName"
                name="File name"
                optional="false">
          </commandParameter>
          <commandParameter
                id="mode"
                name="Launch Mode"
                optional="true">
          </commandParameter>
       </command>
   </extension>
   <!--
   <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           category="com.springsource.sts.internal.ide.category"
           class="com.springsource.sts.internal.ide.help.wizards.ImportSampleProjectsWizard"
           icon="icons/etool16/import-project.png"
           id="org.eclipse.mylyn.tasks.ui.wizards.import"
           name="Sample Projects">
        <description>
           Import sample projects.
        </description>
     </wizard>
     <category
           id="com.springsource.sts.import.category"
           name="SpringSource Tool Suite"/>
  </extension>
  -->
 <extension
       point="org.eclipse.mylyn.context.ui.startup">
    <startup
          class="com.springsource.sts.internal.ide.help.TutorialStartup">
    </startup>
 </extension>
    <extension
       point="com.springsource.sts.ide.ui.dashboard">
    <part
          class="com.springsource.sts.internal.ide.help.ExampleProjectsDashboardPart"
          id="com.springsource.sts.ide.help.dashboard.part.samples"
          page="com.springsource.sts.ide.ui.dashboard.page.overview"
          path="com.springsource.sts.ide.ui.dashboard.doc">
    </part>
 </extension>
    <extension
          point="com.springsource.sts.ide.ui.dashboard">
       <part
             class="com.springsource.sts.internal.ide.help.ExampleProjectsDashboardPart"
             id="com.springsource.sts.ide.help.dashboard.part.samples"
             page="com.springsource.sts.ide.ui.new.dashboard.page.overview"
             path="com.springsource.sts.ide.ui.dashboard.doc">
       </part>
    </extension>
   <extension
         point="com.springsource.sts.ide.ui.dashboard">
      <part
            class="com.springsource.sts.internal.ide.help.TutorialDashboardPart"
            id="com.springsource.sts.ide.help.dashboard.part.tutorials"
            page="com.springsource.sts.ide.ui.dashboard.page.overview"
            path="com.springsource.sts.ide.ui.dashboard.doc">
      </part>
   </extension>
   
   <extension
         point="com.springsource.sts.ide.ui.dashboard">
      <part
            class="com.springsource.sts.internal.ide.help.TutorialDashboardPart"
            id="com.springsource.sts.ide.help.dashboard.part.tutorials"
            page="com.springsource.sts.ide.ui.new.dashboard.page.overview"
            path="com.springsource.sts.ide.ui.dashboard.doc">
      </part>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.springframework.ide.eclipse.ui.preferencePage"
            class="com.springsource.sts.internal.ide.help.ExampleProjectsPreferencePage"
            id="com.springsource.sts.help.ui.examplepreferencepage"
            name="Example Projects">
      </page>
      <page
            category="org.springframework.ide.eclipse.ui.preferencePage"
            class="com.springsource.sts.internal.ide.help.TemplatesPreferencePage"
            id="com.springsource.sts.help.ui.templatepreferencepage"
            name="Template Projects">
      </page>
   </extension>
</plugin>
