<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension id="ide" point="org.eclipse.core.runtime.products"> 
      <product name="%productName" application="org.eclipse.ui.ide.workbench" description="%productBlurb"> 
          <property name="windowImages" value="ggts16.png,ggts32.png,ggts48.png,ggts64.png,ggts128.png"/> 
          <property name="aboutImage" value="ggts_lg.gif"/>
          <property name="aboutText" value="%productBlurb"/> 
          <property name="appName" value="%productName"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/> 
          <property
                name="startupForegroundColor"
                value="33302D"/>
          <property
                name="versionForegroundColor"
                value="33302D"/>
          <property
                name="startupMessageRect"
                value="29,176,540,20"/>
          <property
                name="startupProgressRect"
                value="29,192,540,14"/>
          <property
                name="versionRect"
                value="540,40" />
          <property
          		name="introTitle"
          		value="%productIntroTitle"/>
          <property
          		name="introBrandingImage"
          		value="product:intro-eclipse.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
		  <property
				name="introDescription-overview"
				value="%introDescription-overview"/>
		  <property
				name="introDescription-tutorials"
				value="%introDescription-tutorials"/>
		  <property
				name="introDescription-samples"
				value="%introDescription-samples"/>                
		  <property
				name="applicationXMI"
				value="org.eclipse.platform/LegacyIDE.e4xmi">
		  </property>
		  <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
		  <property
				name="applicationCSSResources"
	         	value="platform:/plugin/org.eclipse.platform/images/">
		  </property>
      </product> 
   </extension>
          
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.springsource.sts.internal.splash.VersionDisplayingSplashHandler"
            id="org.springsource.ggts.ide.ui.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.springsource.ggts.ide"
            splashId="org.springsource.ggts.ide.ui.splash">
      </splashHandlerProductBinding>
   </extension>

	<extension
       point="org.eclipse.ui.views">
    	<category
          id="org.springsource.sts"
          name="Groovy/Grails Tool Suite">
    	</category>
 	</extension>
 	
 	<extension point="org.eclipse.ui.intro">
		<introProductBinding introId="org.springsource.ggts.ide.ui.intro"
			productId="org.springsource.ggts.ide">
		</introProductBinding>
		<intro
	        class="org.eclipse.ui.intro.config.CustomizableIntroPart"
	        icon="content/welcome16.png"
	        id="org.springsource.ggts.ide.ui.intro">
	  </intro>
	</extension>
	<extension point="org.eclipse.ui.intro.config">
		<config content="introContent.xml" id="org.springsource.ggts.ide.ui.intro.config"
			introId="org.springsource.ggts.ide.ui.intro">
			<presentation
         home-page-id="root"
         standby-page-id="standby">
				<implementation kind="html">
				</implementation>
			</presentation>
		</config>
	</extension>

</plugin>
