<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	 <extension
       point="org.eclipse.cft.server.core.branding">
	    <service
           name="Pivotal Web Services"
           provideServices="true"
           remoteSystemTypeId="org.cloudfoundry.cloudfoundryserver"
           serverDisplayName="Pivotal Web Services"
           serverTypeId="org.cloudfoundry.appcloudserver.10">
        <defaultUrl
              name="Pivotal Web Services"
              signupURL="https://console.run.pivotal.io/register"
              url="https://api.run.pivotal.io">
        </defaultUrl>
    </service>
     </extension>
</plugin>
