<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.springsource.sts.server.webflow"
            nameFilter="*.xml"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.springsource.sts.server.actions.UpgradeWebflowAction"
               enablesFor="1"
               id="com.springsource.sts.server.webflow.migrate"
               label="%MigrateWebFlowAction_Label"
               tooltip="%MigrateWebFlowAction_Tooltip">
         </action>
      </objectContribution>
   </extension>

</plugin>
